<div class="container">
	<nav class="navbar">
		<ul>
			<li><%= link_to "order", order_path %></li><span id="vertical-bar">|</span>
			<li><%= link_to "box examples", examples_path %></li><span id="vertical-bar">|</span>
			<li><%= link_to "faq", faq_path %></li><span id="vertical-bar">|</span>
			<li><%= link_to "blog", blog_path %></li><span id="vertical-bar">|</span>
			<li><%= link_to "press", press_path %></li>
		</ul>
	</nav>
	<div class="home-background-img">
		<div class="g2g-logo"><%= image_tag("g2glogo.png", width: '550px', height: '400px') %></div>
		<div class="arrow"><%= image_tag("arrow.svg", width: '60px', height: '60px') %></div>
	</div>
	<div class="content-container">
		<div class="our-mission-container row">
			<div class="our-mission-left eight columns">
				<div class="our-mission-header">our mission</div>
				<div class="our-mission-body">We are a non-profit, student-run CSA (community supported agriculture) model bringing fresh, local produce to the UVA and Charlottesville community. We strive to create a sustainable relationship between the UVA student body and the Charlottesville agricultural community. We also seek to provide students, faculty, and community members with access to fresh, seasonal, and local produce on a weekly basis. Join us on our quest to eat healthy and live local!</div>
			</div>
			<div class="our-mission-logo four columns"><%= image_tag("handshake.png") %></div>
		</div>
		<div class="box-example-container row">
			<div class="box-example-pic six columns"><%= image_tag("boxexample1.jpg", width: '550px', height: '400px') %></div>
			<div class="box-example-right six columns">
				<div class="box-example-header">box example</div>
				<div class="box-example-bullets">
					<ul id="left-list">
						<li>peaches</li>
						<li>grapes</li>
						<li>tomatoes</li>
						<li>romaine lettuce</li>
						<li>melons</li>
					</ul>
					<ul id="right-list">
						<li>red peppers</li>
						<li>honey</li>
						<li>bratwurst</li>
						<li>donuts</li>
						<li>flowers</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="get-started-container row">
			<div class="eight columns">
				<div class="get-started-header">ready to get started?</div>
				<div class="get-started-body">Choose between pre-built snack boxes and produce boxes, delivered weekly. Starting at only $10</div>
				<div class="get-started-btn"><%= link_to image_tag("ordernow.png"), order_path %></li></div>
			</div>
			<div class="get-started-logo four columns"><%= image_tag("box.png") %></div>
		</div>
	</div>
</div>