<div class="container">
<%= render "layouts/nav" %>
<div class="order-header-container">
<div class="order-logo"><%= image_tag("app/assets/images/presslogo.png") %></div>
<div class="order-header">in the news</div>
</div>
<div class="news-container">
<div class="row news-row">
<div class="four columns">
<div class="news-column"><%= image_tag("cavdaily.png", width: '300px', height: '50px') %>
<ul id="left-list">
<a href="http://www.cavalierdaily.com/article/2014/09/bringing-greens-to-grounds"><li>"Bringing Greens to Grounds"</li></a>
<a href="http://www.cavalierdaily.com/article/2014/10/aljassar-living-locally"><li>"Living Locally"</li></a>
</ul>
</div>
</div>
<div class="four columns">
<div class="news-column"><%= image_tag("wuva.png", width: '250px', height: '50px') %>
<ul id="left-list">
<li>"Sustainability Straight to Students"</li>
</ul>
</div>
</div>
<div class="four columns">
<div class="news-column"><%= image_tag("startup.png", width: '250px', height: '50px') %>
<ul id="left-list">
<a href="http://www.collegestartup.org/2015/03/27/boxed-sunshine-your-own-farmers-market/"><li>"Boxed Sunshine: Your own Farmers Market"</li></a>
</ul>
</div>
</div>
</div>
</div>
</div>