<nav class="navbar">
	<ul>
		<li><%= link_to "home", root_path, class: cp(root_path) %></li><span id="vertical-bar">|</span>
		<li><%= link_to "order", order_path %></li><span id="vertical-bar">|</span>
		<!-- <li><%= link_to "box examples", examples_path %></li><span id="vertical-bar">|</span> -->
		<li><%= link_to "faq", faq_path %></li><span id="vertical-bar">|</span>
		<li><%= link_to "blog", "https://greenstogrounds.wordpress.com/" %></li><span id="vertical-bar">|</span>
		<li><%= link_to "press", press_path %></li>
	</ul>
</nav>